@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root {
    --primary: #B6EDE6;
    --secondary: #EDB6EB;
    --shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
}

* {
    margin: 0;
}

body {
    /* background-image: url("Images/bg.PNG"); */
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p,
a,
button,
#logout {
    font-family: 'Lustria', serif;
}

h1 {
    text-align: center;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

/*_______________ Buttons _________________*/
button {
    min-height: 40px;
    box-shadow: var(--shadow);
}

.buttons {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 20px;
    width: 150px;
    background-color: transparent;
    font-size: 25px;
    color: #000;
    padding: 15px 0;
    border: 2px solid var(--primary);
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.button::after,
.button::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
    border-radius: 5px;
}

.button::before {
    top: -15px;
    left: -15px;
    border-width: 2px 0 0 2px;
    border-color: var(--secondary);
}

.button::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 2px 2px 0;
    border-color: var(--secondary);
}

.button:hover::before,
.button:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.item button,
#submitbtn,
#contri-btn,
#fa-btn,
#save-btn {
    margin-right: 20px;
    cursor: pointer;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    margin: 5px;
}

#save-btn{
    background-color: var(--primary);
    font-weight: 900;
}

/*______________ Keycloak Loading __________________*/

.loading {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin: auto auto;
    margin-top: 40%;
    text-align: center;
}

#spin-loader {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 90px;
    height: 90px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/*______________ Menu __________________*/

nav {
    width: 100%;
    top: 0;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    height: 60px;
    line-height: 60px;
    display: flex;
}

.menu-item {
    cursor: pointer;
    width: fit-content;
    min-width: 90px;
    text-align: center;
}

.menu-item:hover {
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    color: #000;
}

#profile {
    position: absolute;
    right: 20px;
}

#logout {
    border-top: var(--primary) solid 4px;
}

.dropdown-profile {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: var(--shadow);
    z-index: 1;
    right: 0;
}

.dropdown-profile div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-profile div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-profile {
    display: block;
}

.dropdown-arrow {
    position: absolute;
    top: 28px;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}

.dropdown-arrow:hover {
    top: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #333;
    border-top: 6px solid transparent;
}

/*______________ Sidebar __________________*/

.sidebar {
    background-color: var(--primary);
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.side-item {
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

.side-item:hover {
    background-color: var(--secondary);
}

.content {
    position: absolute;
    top: 80px;
    left: 250px;
    text-align: center;
}

/*______________ Todays list __________________*/

.today-schedule{
    align-items: center;
}

.today-schedule li {
    list-style: none;
}

.workout {
    color: var(--secondary);
    font-weight:900;
}

.type {
    font-weight: 300;
}

.time {
    font-weight: 700;
}

/*______________ Weekly Goals __________________*/

.weekly-schedule{
    display: block;
    flex-direction: column;
    background-color: #ececec;
    width: 40vw;
    height: 50px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
.weekly-todo {
    margin: 10px;
}

.weekly-todo p {
    margin: 0;
    text-align: start;
}

.circle {
    position: relative;
    height: 20px;
    width: 20px;
    border: #FFD7B2 3px solid;
    border-radius: 20px;
    float: right;
    top: -40px;
    right: 10px;
}

/*______________ Dropdown __________________*/

.dropdown-bar {
    position: relative;
    background: var(--secondary);
    width: 60vw;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
    cursor: pointer;
}

#arrow-progress {
    position: absolute;
    top: 24px;
    height: 0;
    width: 0;
    right: 5%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 60vw;
    box-shadow: var(--shadow);
    z-index: 1;
    right: 0;
}

.dropdown-content div {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}


/*______________ Input Form __________________*/

.input-form,
.inputDate {
    background-color: #ececec;
    box-shadow: var(--shadow);
    width: 40vw;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    border: none;
    border-bottom: 3px solid var(--primary);
    margin: 10px 0;
    justify-content: center;
    padding: 0 10px;
}

.input-form:focus,
.inputDate:focus {
    outline: none;
}

.input-number,
.input-number:focus {
    background-color: #ececec;
    border-radius: 5px;
    width: 60px;
    margin: 5px;
    border: solid 2px var(--primary);
    outline: none;
}
.profile-input{
    display: flex;
    flex-direction: column;
}
/*______________ Goal Box __________________*/

.setgoalbtn {
    margin: 10px 2px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    box-shadow: var(--shadow);
}

.setgoalbox {
    background-color: #ececec;
    box-shadow: var(--shadow);
    width: 40vw;
    height: 200px;
    display: none;
    border-radius: 10px;
    line-height: 40px;
    justify-content: space-between;
}

.setgoalbox p {
    margin: 20px;
}


/*______________ Items __________________*/

.item {
    background-color: #ececec;
    box-shadow: var(--shadow);
    width: 60vw;
    min-height: fit-content;
    border-radius: 10px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.item p {
    margin-left: 20px;
}



